{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

	<div class="w3-row">
   		<div class="w3-col l8 s12 w3-padding">
   			<div class="w3-white">
				<div class="w3-container">
					{{ page.content }}
				</div>
			</div>
		</div>
		
		<div class="w3-col l4 w3-padding">
			{% include "includes/tags.html" %}
			
			<div class="w3-margin-top">
				{% include "includes/follow_me.html" %}
			</div>
		</div>
	</div>

{% endblock %}