{% extends "base.html" %}

{% block title %}Archives - {{ SITENAME }}{% endblock %}

{% block content %}

	<div class="w3-row">
		<div class="w3-col l8 s12 w3-padding">
			<div class="w3-padding w3-white">
				<h4>Archives</h4>
			</div>
			
			<div class="w3-margin-top">
				<div class="w3-padding w3-white">
					<table>
						{% for article in articles %}
							<tr>
								{% if article.date is defined %}
									<td class="w3-light-grey" style="padding: 10px;"><span class="w3-text-grey"><b>{{ article.locale_date }}</b></span></td>
								{% else %}
									<td></td>
								{% endif %}
								<td style="padding: 10px;"><span class="w3-text-dark-grey">{% include "includes/article_summary_title.html" %}</span></td>
							</tr>
						{%- endfor %}
					</table>
				</div>
			</div>
		</div>
		
		<div class="w3-col l4 w3-padding">
			{% include "includes/tags.html" %}
			
			<div class="w3-margin-top">
				{% include "includes/follow_me.html" %}
			</div>
		</div>
	</div>

{% endblock %}