{% extends "base.html" %}

{% block title %}Archives - {{ SITENAME }}{% endblock %}

{% block content %}

	<div class="w3-row w3-padding w3-border">
		<div class="w3-col l8 s12">
			<div class="w3-container w3-white w3-margin w3-padding">
				<h4>Archives</h4>
			</div>
			
			<div class="w3-container w3-white w3-margin w3-padding-large">
				<table>
					{% for article in articles %}
						<tr>
							{% if article.date is defined %}
								<td class="w3-light-grey" style="padding: 10px;"><span class="w3-text-grey"><b>{{ article.locale_date }}</b></span></td>
							{% else %}
								<td></td>
							{% endif %}
							<td style="padding: 10px;"><span class="w3-text-dark-grey">{% include "includes/article_summary_title.html" %}</span></td>
						</tr>
					{%- endfor %}
				</table>
			</div>
		</div>
		
		<div class="w3-col l4">
			{% include "includes/tags.html" %}
			
			<hr>
	
			{% include "includes/follow_me.html" %}
		</div>
	</div>

{% endblock %}