{% extends "base.html" %}

{% block content %}

	<div class="w3-row">
   		<div class="w3-col l8 s12 w3-padding">
   			<div class="w3-margin-bottom">
   				{% include "includes/index_pin.html" %}
   			</div>
   			
			{% for article in articles %}
				<div class="w3-margin-top">
					{% include "includes/article_summary.html" %}
				</div>
			{% endfor %}
		</div>
		
		<div class="w3-col l4 w3-padding">
			{% include "includes/tags.html" %}
			
			<div class="w3-margin-top">
				{% include "includes/follow_me.html" %}
			</div>
		</div>
	</div>

{% endblock %}