{% set facebook_url = "http://www.facebook.com/sharer.php?u=https://www.google.com" %}
{% set facebook_title = "Share on Facebook" %}
{% set tweet_url = "https://twitter.com/intent/tweet?text=" + article.summary|striptags %}
{% set tweet_title = "Share on Twitter" %}
<!--<div class="w3-row w3-padding-small w3-center">
	<div class=w3-hide-small>
		<a href="{{ facebook_url }}" title="{{ facebook_title }}" class="w3-button w3-white w3-border"><i class="fa fa-facebook w3-margin-right"></i><b>Facebook</b></a>
		<a href="{{ tweet_url }}" title="{{ tweet_title }}" class="w3-button w3-white w3-border"><i class="fa fa-twitter w3-margin-right"></i><b>Twitter</b></a>
	</div>
	<div class="w3-hide-large w3-hide-medium">
		<a href="{{ facebook_url }}" title="{{ facebook_title }}" class="w3-button w3-black w3-padding-medium"><i class="fa fa-facebook"></i></a>
		<a href="{{ tweet_url }}" title="{{ tweet_title }}" class="w3-button w3-black w3-padding-medium"><i class="fa fa-twitter"></i></a>
	</div>
</div>-->