<div class="w3-white w3-margin">
	<div class="w3-container w3-padding w3-black">
		<h4>Follow Me</h4>
	</div>
	<div class="w3-container w3-xlarge w3-padding">
		{% if SOCIAL['Facebook'] %}
			<a href="{{ SOCIAL['Facebook'] }}" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
		{% endif %}
		{% if SOCIAL['Instagram'] %}
			<a href="{{ SOCIAL['Instagram'] }}" target="_blank"><i class="fa fa-instagram w3-hover-opacity"></i></a>
		{% endif %}
		{% if SOCIAL['Snapchat'] %}
			<a href="{{ SOCIAL['Snapchat'] }}" target="_blank"><i class="fa fa-snapchat w3-hover-opacity"></i></a>
		{% endif %}
		{% if SOCIAL['Pinterest'] %}
			<a href="{{ SOCIAL['Pinterest'] }}" target="_blank"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a>
		{% endif %}
		{% if GITHUD_ID %}
			<a href="{{ SOCIAL['Github'] }}" target="_blank"><i class="fa fa-github w3-hover-opacity"></i></a>
		{% endif %}
		{% if TWITTER_USERNAME %}
			<a href="{{ SOCIAL['Twitter'] }}" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
		{% endif %}
		{% if SOCIAL['LinkedIn'] %}
			<a href="{{ SOCIAL['LinkedIn'] }}" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
		{% endif %}
		{% if SOCIAL['Email'] %}
			<a href="{{ SOCIAL['Email'] }}"><i class="fa fa-envelope w3-hover-opacity"></i></a>
		{% endif %}
		{% if FEED_ALL_ATOM %}
			<a href="{{ FEED_ALL_ATOM }}"><i class="fa fa-rss-square w3-hover-opacity"></i></a>
		{% endif %}
	</div>
</div>