<div class="w3-white">
	<div class="w3-padding w3-black">
		<h4>Follow Me</h4>
	</div>
	<div class="w3-padding">
		{% if SOCIAL['Facebook'] %}
			<a href="{{ SOCIAL['Facebook'] }}" class="w3-margin-xxsmall" target="_blank"><i class="fa fa-facebook-official w3-xlarge w3-hover-opacity"></i></a>
		{% endif %}
		{% if INSTAGRAM %}
			<a href="{{ SOCIAL['Instagram'] }}" class="w3-margin-xxsmall" target="_blank"><i class="fa fa-instagram w3-xlarge w3-hover-opacity"></i></a>
		{% endif %}
		{% if SOCIAL['Snapchat'] %}
			<a href="{{ SOCIAL['Snapchat'] }}" class="w3-margin-xxsmall" target="_blank"><i class="fa fa-snapchat w3-xlarge w3-hover-opacity"></i></a>
		{% endif %}
		{% if SOCIAL['Pinterest'] %}
			<a href="{{ SOCIAL['Pinterest'] }}" class="w3-margin-xxsmall" target="_blank"><i class="fa fa-pinterest-p w3-xlarge w3-hover-opacity"></i></a>
		{% endif %}
		{% if GITHUD_ID %}
			<a href="{{ SOCIAL['Github'] }}" class="w3-margin-xxsmall" target="_blank"><i class="fa fa-github w3-xlarge w3-hover-opacity"></i></a>
		{% endif %}
		{% if TWITTER_USERNAME %}
			<a href="{{ SOCIAL['Twitter'] }}" class="w3-margin-xxsmall" target="_blank"><i class="fa fa-twitter w3-xlarge w3-hover-opacity"></i></a>
		{% endif %}
		{% if SOCIAL['LinkedIn'] %}
			<a href="{{ SOCIAL['LinkedIn'] }}" class="w3-margin-xxsmall" target="_blank"><i class="fa fa-linkedin w3-xlarge w3-hover-opacity"></i></a>
		{% endif %}
		{% if SOCIAL['Email'] %}
			<a href="{{ SOCIAL['Email'] }}" class="w3-margin-xxsmall" target="_blank"><i class="fa fa-envelope w3-xlarge w3-hover-opacity"></i></a>
		{% endif %}
		{% if FEED_ALL_ATOM %}
			<a href="{{ FEED_ALL_ATOM }}" class="w3-margin-xxsmall"><i class="fa fa-rss-square w3-xlarge w3-hover-opacity"></i></a>
		{% endif %}
	</div>
</div>