<div class="w3-border w3-border-black">
	<div class="w3-padding w3-black">
		<h4>Starter Projects</h4>
	</div>
		<div class="w3-row">
			<div class="w3-col xl4 m6 s12 w3-padding">
				<div class="w3-white">
					<img src="../../images/index/j2ee_275_200.png" class="image-responsive image-center">
					
					<hr>
					
					<div class="w3-padding">
						<div class="w3-center">
							<a href="https://github.com/gwnio/rg-archetype-j2ee-login" target="_blank" class="w3-button w3-padding w3-border w3-white"><i class="fa fa-github w3-xxlarge"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="w3-col xl4 m6 s12 w3-padding">
				<div class="w3-white">
					<img src="../../images/index/myfaces_275_200.png" class="image-responsive image-center">
					
					<hr>
					
					<div class="w3-padding">
						<div class="w3-center">
							<a href="https://github.com/gwnio/rg-archetype-j2ee-myfaces" target="_blank" class="w3-button w3-padding w3-border w3-white"><i class="fa fa-github w3-xxlarge"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="w3-col xl4 m6 s12 w3-padding">
				<div class="w3-white">
					<img src="../../images/index/angularjs_275_200.png" class="image-responsive image-center">
					
					<hr>
					
					<div class="w3-padding">
						<div class="w3-center">
							<a href="https://github.com/gwnio/rg-archetype-j2ee-angularjs" target="_blank" class="w3-button w3-padding w3-border w3-white tag/rg-archetype-j2ee-angularjs"><i class="fa fa-github w3-xxlarge"></i></a>
							<a href="/tag/rg-archetype-j2ee-angularjs" class="w3-button w3-padding w3-border w3-white"><i class="fa fa-commenting w3-xxlarge"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>