<footer class="w3-container w3-dark-grey" style="padding:32px">
	<div class="w3-row">
		<div class="w3-col l4">
			<a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
			&nbsp;&nbsp;
			<a href="{{ SITEURL }}/blog" class="w3-button w3-black w3-padding-large w3-margin-bottom">Blog</a>
			{% if ARCHIVES_SAVE_AS %}
				&nbsp;&nbsp;
				<a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}" class="w3-button w3-black w3-padding-large w3-margin-bottom">Archives</a>
			{% endif %}
		</div>
	</div>
</footer>